.layout {
  display: flex;
  flex-direction: column;
  
  max-height: 100vh;
  height: 100vh;
}
.menu-lateral {
  background: blue;
  width: 200px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 100%;
  &.close {
    width: 50px;
  }
}
.content {
  display: flex;
  width: 100%;
  flex: content;
  height: 100%;
}
.content-outlet {
  max-height: 82vh;
  flex:1;
  width: 100%;
  max-width: inherit;
  overflow: auto !important;
}
.footer-cover{
  flex:1;
}