<div *ngFor="let item of menu" >
  <button class="fs-20" *ngIf="item.title"  mat-button (click)="emitRouting(item.link)" >
    <mat-icon *ngIf="item.icon && item.left">{{item.icon}}</mat-icon>
    {{item.title}}
    <mat-icon *ngIf="item.icon && !item.left">{{item.icon}}</mat-icon>
  </button>
  <button class="fs-20" *ngIf=" !item.title" mat-icon-button (click)="emitRouting(item.link)" >
    <mat-icon *ngIf="item.icon && item.left">{{item.icon}}</mat-icon>
    <mat-icon  *ngIf="item.icon && !item.left">{{item.icon}}</mat-icon>
  </button>
</div>